# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
      - main


pool:
  name: default

variables:
  - name: "containerRegistry"
    value: "DockerHubConnection"
  - name: "repositorUserName"
    value: "nariyao"
  - name: "containerImageName"
    value: "toons"
stages:
  - stage: "Build"
    displayName: "Build"
    jobs:
      - job: "BuildAndPushDockerImage"
        displayName: "build and push docker image"
        steps:
          - task: Docker@2
            displayName: "build and pushing docker image"
            inputs:
              containerRegistry: '$(containerRegistry)'
              repository: '$(repositoryUserName)/$(containerImageName)'
              command: buildAndPush
              Dockerfile: '**/Dockerfile'
              tags: |
                $(Build.BuildId)
